body {
    font-family: "Poppins", sans-serif;
}

.top_bar {
    background: #321f37;
    background: linear-gradient(-36deg, #42274a 0%, #260b4a 2.02%, #293271 29.29%, #8d7cda 100%);
    img {
        width: 30px;
    }
}

.active_color {
    color: #000;
}

.pl-50 {
    padding: 0 130px;
}

.global_btn {
    font-weight: 500;
    border-style: solid;
    border-bottom-right-radius: 43px;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 43px;
    border-top-right-radius: 43px;
    filter: drop-shadow(0px 3px 10px rgba(0, 0, 0, 0.16));
    background: #6c7fdd;
    background: linear-gradient(90deg, #6c7fdd 0%, #cd77d3 54.09%, #e4bad0 100%);
}

.global_white {
    font-weight: 500;
    border-style: solid;
    border-bottom-right-radius: 43px;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 43px;
    border-top-right-radius: 43px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.25));
    background: #fff;
    color: #c576d1;
    transition: all 0.5s linear;
    &:hover {
        color: #fff;
        background: #6c7fdd;
        background: linear-gradient(90deg, #6c7fdd 0%, #cd77d3 54.09%, #e4bad0 100%);
    }
}

.fund {
    background: linear-gradient(-36deg, #321f37 0%, #260b4a 2.02%, #293271 29.29%, #8d7cda 100%);
}

.card {
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 20px;
    filter: drop-shadow(0px 33px 30.5px rgba(11, 13, 57, 0.08));
    background: #ffffff;
}

.swiper-wrapper {
    padding-bottom: 90px;
}

.swiper-button-prev,
.swiper-button-next {
    left: 0;
    right: 0;
    margin: 0 auto;
    top: calc(100% - 30px);
    bottom: initial;
    height: 0;
    z-index: 99999999999999;
}

.swiper-button-prev {
    left: -50px;
}

.swiper-button-next {
    right: -50px;
}

.rect {
    background: #321f37;
    background: linear-gradient(-36deg, #321f37 0%, #260b4a 2.02%, #293271 29.29%, #8d7cda 100%);
}

.box {
    border-radius: 30px;
    height: 500px;
    filter: drop-shadow(0px 15px 17.5px rgba(0, 0, 0, 0.06));

    background: #ffffff;
}
.arrow {
    border: 1px solid #c576d1;
    // background-color: #c576d1;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    &::after {
        transition: all 0.4s linear;
        z-index: 999999;
        content: "→";
        color: #c576d1;
        position: absolute;
        right: 0;
        left: 0;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        font-size: 22px;
    }
    &:hover {
        border: 1px solid #c576d1;
        background: #6c7fdd;
        background: linear-gradient(0deg, #6c7fdd 0%, #cd77d3 54.09%, #e4bad0 100%);
        &::after {
            color: #fff;
        }
    }
}
